#header3-4 H3 {
  text-align: center;
}
#header3-4 P {
  text-align: center;
}
#dropdown-menu-2btn-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-0 .nav .link,
#dropdown-menu-2btn-0 .dropdown-item {
  font-size: 1em;
  color: #28324e;
}
#dropdown-menu-2btn-0 .navbar,
#dropdown-menu-2btn-0 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-0 .dropdown-menu a:hover,
#dropdown-menu-2btn-0 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-0 .navbar-toggler {
  color: #28324e;
}
#msg-box3-b .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-b .mbr-header .mbr-header__subtext {
  text-align: center;
}
#header3-e H3 {
  text-align: center;
}
#header3-e P {
  text-align: center;
}
#msg-box3-13 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-13 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#content5-f .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-f .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-f .mbr-article {
  color: #fff;
}
#content5-f .mbr-article P {
  text-align: center;
}
#msg-box3-14 .mbr-header .mbr-header__text {
  text-align: center;
  color: #7c706b;
}
#msg-box3-14 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-14 .mbr-article P {
  text-align: center;
}
#msg-box3-14 .mbr-article {
  color: #777777;
}
#content5-j .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-j .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-j .mbr-article {
  color: #fff;
  text-align: center;
}
#msg-box3-15 .mbr-header .mbr-header__text {
  text-align: center;
  color: #7c706b;
}
#msg-box3-15 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-15 .mbr-article P {
  text-align: center;
}
#content5-19 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-19 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-19 .mbr-article {
  color: #fff;
}
#msg-box3-1f .mbr-header .mbr-header__text {
  text-align: center;
  color: #7c706b;
}
#msg-box3-1f .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1f .mbr-article P {
  text-align: center;
}
#content5-1a .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-1a .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1a .mbr-article {
  color: #fff;
}
#msg-box3-1g .mbr-header .mbr-header__text {
  text-align: center;
  color: #7c706b;
}
#msg-box3-1g .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1g .mbr-article P {
  text-align: center;
}
#content5-1b .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-1b .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1b .mbr-article {
  color: #fff;
}
#msg-box3-1h .mbr-header .mbr-header__text {
  text-align: center;
  color: #7c706b;
}
#msg-box3-1h .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1h .mbr-article P {
  text-align: center;
}
#msg-box3-16 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-16 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#content5-1n .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-1n .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1n .mbr-article {
  color: #fff;
}
#content5-1n .mbr-article P {
  text-align: center;
}
#msg-box3-1u .mbr-header .mbr-header__text {
  text-align: center;
  color: #7c706b;
}
#msg-box3-1u .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1u .mbr-article P {
  text-align: center;
}
#content5-1o .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-1o .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1o .mbr-article {
  color: #fff;
}
#content5-1o .mbr-article P {
  text-align: center;
}
#msg-box3-1w .mbr-header .mbr-header__text {
  text-align: center;
  color: #7c706b;
}
#msg-box3-1w .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1w .mbr-article P {
  text-align: center;
}
#msg-box3-1j .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1j .mbr-header .mbr-header__subtext {
  text-align: center;
}
#content5-1p .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-1p .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1p .mbr-article {
  color: #fff;
}
#content5-1p .mbr-article P {
  text-align: center;
}
#msg-box3-1y .mbr-header .mbr-header__text {
  text-align: center;
  color: #7c706b;
}
#msg-box3-1y .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1y .mbr-article P {
  text-align: center;
}
#msg-box3-1k .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1k .mbr-header .mbr-header__subtext {
  text-align: center;
}
#content5-1q .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-1q .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1q .mbr-article {
  color: #fff;
}
#content5-1q .mbr-article P {
  text-align: center;
}
#msg-box3-20 .mbr-header .mbr-header__text {
  text-align: center;
  color: #7c706b;
}
#msg-box3-20 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-20 .mbr-article P {
  text-align: center;
}
#content5-1r .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-1r .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1r .mbr-article {
  color: #fff;
}
#content5-1r .mbr-article P {
  text-align: center;
}
#msg-box3-23 .mbr-header .mbr-header__text {
  text-align: center;
  color: #7c706b;
}
#msg-box3-23 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-23 .mbr-article P {
  text-align: center;
}
#msg-box3-1m .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1m .mbr-header .mbr-header__subtext {
  text-align: center;
}
#content5-1s .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-1s .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1s .mbr-article {
  color: #fff;
}
#content5-1s .mbr-article P {
  text-align: center;
}
#msg-box3-25 .mbr-header .mbr-header__text {
  text-align: center;
  color: #7c706b;
}
#msg-box3-25 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-25 .mbr-article P {
  text-align: center;
}
#msg-box3-1l .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1l .mbr-header .mbr-header__subtext {
  text-align: center;
}
#content5-g .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-g .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-g .mbr-article {
  color: #fff;
}
#content5-g .mbr-article P {
  text-align: center;
}
#msg-box3-27 .mbr-header .mbr-header__text {
  text-align: center;
  color: #7c706b;
}
#msg-box3-27 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-27 .mbr-article P {
  text-align: center;
}
#dropdown-menu-2btn-c .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-c .nav .link,
#dropdown-menu-2btn-c .dropdown-item {
  font-size: 1em;
  color: #28324e;
}
#dropdown-menu-2btn-c .navbar,
#dropdown-menu-2btn-c .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-c .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-c .dropdown-menu a:hover,
#dropdown-menu-2btn-c .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-c .navbar-toggler {
  color: #28324e;
}
#msg-box3-l .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-l .mbr-header .mbr-header__subtext {
  text-align: center;
}
#header3-29 H3 {
  text-align: center;
}
#header3-29 P {
  text-align: center;
}
#msg-box3-2a .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-2a .mbr-header .mbr-header__subtext {
  text-align: center;
}
#content5-2b .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-2b .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-2b .mbr-article {
  color: #fff;
}
#content5-2b .mbr-article P {
  text-align: center;
}
#msg-box3-2d .mbr-header .mbr-header__text {
  text-align: center;
  color: #7c706b;
}
#msg-box3-2d .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-2d .mbr-article P {
  text-align: center;
}
#msg-box3-2d .mbr-article {
  color: #777777;
}
#content5-2e .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-2e .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-2e .mbr-article {
  color: #fff;
  text-align: center;
}
#msg-box3-2g .mbr-header .mbr-header__text {
  text-align: center;
  color: #7c706b;
}
#msg-box3-2g .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-2g .mbr-article P {
  text-align: center;
}
#content5-2h .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-2h .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-2h .mbr-article {
  color: #fff;
}
#msg-box3-2j .mbr-header .mbr-header__text {
  text-align: center;
  color: #7c706b;
}
#msg-box3-2j .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-2j .mbr-article P {
  text-align: center;
}
#content5-2k .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-2k .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-2k .mbr-article {
  color: #fff;
}
#msg-box3-2m .mbr-header .mbr-header__text {
  text-align: center;
  color: #7c706b;
}
#msg-box3-2m .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-2m .mbr-article P {
  text-align: center;
}
#content5-2n .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-2n .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-2n .mbr-article {
  color: #fff;
}
#msg-box3-2p .mbr-header .mbr-header__text {
  text-align: center;
  color: #7c706b;
}
#msg-box3-2p .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-2p .mbr-article P {
  text-align: center;
}
#dropdown-menu-2btn-3g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-3g .nav .link,
#dropdown-menu-2btn-3g .dropdown-item {
  font-size: 1em;
  color: #28324e;
}
#dropdown-menu-2btn-3g .navbar,
#dropdown-menu-2btn-3g .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-3g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-3g .dropdown-menu a:hover,
#dropdown-menu-2btn-3g .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-3g .navbar-toggler {
  color: #28324e;
}
#msg-box3-3h .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-3h .mbr-header .mbr-header__subtext {
  text-align: center;
}
