#header3-4 H3 {
  text-align: center;
}
#header3-4 P {
  text-align: center;
}
#dropdown-menu-2btn-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-0 .nav .link,
#dropdown-menu-2btn-0 .dropdown-item {
  font-size: 1em;
  color: #28324e;
}
#dropdown-menu-2btn-0 .navbar,
#dropdown-menu-2btn-0 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-0 .dropdown-menu a:hover,
#dropdown-menu-2btn-0 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-0 .navbar-toggler {
  color: #28324e;
}
#msg-box3-b .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-b .mbr-header .mbr-header__subtext {
  text-align: center;
}
#header3-e H3 {
  text-align: center;
}
#header3-e P {
  text-align: center;
}
#msg-box3-13 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-13 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#content5-f .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-f .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-f .mbr-article {
  color: #fff;
}
#content5-f .mbr-article P {
  text-align: center;
}
#msg-box3-14 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-14 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-14 .mbr-article P {
  text-align: center;
}
#content5-j .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-j .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-j .mbr-article {
  color: #fff;
  text-align: center;
}
#msg-box3-15 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-15 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-15 .mbr-article P {
  text-align: center;
}
#content5-19 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-19 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-19 .mbr-article {
  color: #fff;
}
#msg-box3-1f .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1f .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1f .mbr-article P {
  text-align: center;
}
#content5-1a .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-1a .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1a .mbr-article {
  color: #fff;
}
#msg-box3-1g .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1g .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1g .mbr-article P {
  text-align: center;
}
#content5-1b .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-1b .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1b .mbr-article {
  color: #fff;
}
#msg-box3-1h .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1h .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1h .mbr-article P {
  text-align: center;
}
#msg-box3-16 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-16 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#content5-g .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-g .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-g .mbr-article {
  color: #fff;
}
#content5-g .mbr-article P {
  text-align: center;
}
#dropdown-menu-2btn-c .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-c .nav .link,
#dropdown-menu-2btn-c .dropdown-item {
  font-size: 1em;
  color: #28324e;
}
#dropdown-menu-2btn-c .navbar,
#dropdown-menu-2btn-c .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-c .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-c .dropdown-menu a:hover,
#dropdown-menu-2btn-c .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-c .navbar-toggler {
  color: #28324e;
}
#msg-box3-l .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-l .mbr-header .mbr-header__subtext {
  text-align: center;
}
#header3-m H3 {
  text-align: center;
}
#header3-m P {
  text-align: center;
}
#content5-n .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-n .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-n .mbr-article {
  color: #fff;
  text-align: center;
}
#content5-n .mbr-article P {
  text-align: center;
}
#content5-p .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-p .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-p .mbr-article {
  color: #fff;
}
#content5-p .mbr-article P {
  text-align: center;
}
#dropdown-menu-2btn-r .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-r .nav .link,
#dropdown-menu-2btn-r .dropdown-item {
  font-size: 1em;
  color: #28324e;
}
#dropdown-menu-2btn-r .navbar,
#dropdown-menu-2btn-r .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-r .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-r .dropdown-menu a:hover,
#dropdown-menu-2btn-r .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-r .navbar-toggler {
  color: #28324e;
}
#content5-s .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-s .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-s .mbr-article {
  color: #fff;
  text-align: center;
}
#msg-box3-u .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-u .mbr-header .mbr-header__subtext {
  text-align: center;
}
